.breadcrumb li:hover a{
    color: red;
}


@media all and (max-width: 380px) {
     .trade_message h4, h2{
        font-size: 12px !important;
    }
}
@media all and (max-width: 380px) {
     .brend_logo {
        font-size: 20px !important;
    }
}
.checkbox-inline{
    position: initial;
    font-size: 12px;
    padding-left: 10px;
}
.body_checkbox .checkbox-inline{
    width: 140px;
}
.drivetrain_checkbox .checkbox-inline{
    width: 241px;
}
.exterior_checkbox .checkbox-inline{
    width: 179px;
}
.interior_checkbox .checkbox-inline{
    width: 167px;
}
.electronics_checkbox .checkbox-inline{
    width: 266px;
}

.safety_checkbox .checkbox-inline{
    width: 138px;
}


header .bottom-header .navbar-default .navbar-brand .logo .primary_text {
    font-size: 35px;
}

@media (min-width: 992px){
    .mileage-dropdown {
        width: 100px;
    }
}
@media (min-width: 992px){
    .prices-dropdown {
        width: 120px;
    }
}
.menu-academico-avaliacoes-custom a{
    width: 200px;
}
