.trade label{
    display: inline-block;
    margin: initial !important;
    max-width: 100%;
    margin-bottom: 5px !important;
    font-weight: 700;
    cursor: default;
    position: initial;
    top: initial;
    right: initial;

}

.trade label:before {
    box-sizing: border-box;

    display: initial;
    position: initial;
    top: initial;
    left: initial;
    content: initial;
    background-image: initial;
}