.header-main .profile_details{
    float: right;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 3px;
    padding-left: 3px;
}
select {
    padding: 1rem 1rem;
    text-transform: uppercase;
}

.form-horizontal .checkbox-inline {
    padding-top: 0px;
}
.radio-inline, .checkbox-inline {
    padding-left: 3px;
}
hr {
    margin-top: 18px;
    margin-bottom: 18px;
    border-top: 1px solid #2196f3;
}

.features_checkbox .checkbox-inline{
    width: 236px;
}





.features_checkbox label:before {
    display: inline-block;
    position: relative;
    top: 0.25em;
    left: -2px;
    content: '';
    width: 25px;
    height: 20px;
    background-image: url(../../images/formelements.png);
}
input[type="checkbox"] + label:before {
    background-position: 0 -24px;
}

input[type="checkbox"]:checked + label:before {
    background-position: 0 0;
}

.features_label label {
    margin: 0 !important;
    top: 0;
    right: -47px;
}
input[type="checkbox"] {
    position: absolute;
    left: -999em;
}
input[type="checkbox"] + label:before {
    background-position: 0 -24px;
}

input[type="checkbox"]:checked + label:before {
    background-position: 0 0;
}

.check_box {
    position: absolute;
    top: 0px;
    right: -7px;
}
.checkbox {
    position: absolute;
    top: 7px;
    right: 12px;
}
